.contact-us {
  &__form {
    .custom-react-select-container .css-hlgwow {
      padding: 10px 1.3125rem 10px;
    }

    .btn {
      min-width: 12.5rem;
      height: 3.25rem;
      text-transform: uppercase;
      font-size: 0.875rem;
    }
  }
}