@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;

.header-desk_type_5 {
  padding: custom.$header-type-5-padding;

  .logo {
    margin-right: custom.$header-type-5-logo-space;

    @include breakpoints.media-breakpoint-up(lg) {
      max-width: 140px;
    }
    
    @include breakpoints.media-breakpoint-up(xl) {
      max-width: 160px;
    }
  }

  .header-search {
    // width: $header-type-5-search-box-width;
    margin-right: auto;
  }
}