@use "../../bootstrap/functions";
@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;


.header {
  display: none;
  position: relative;
  background-color: custom.$color-white;
  z-index: 2;
  border-bottom: 1px solid #e4e4e4;

  .form-select {
    border: 0;
    box-shadow: none;
    height: 2.5rem;
    padding: 0.375rem 2.025rem 0.3rem 1.125rem;
    background-image: functions.escape-svg(custom.$svg-arrow-down-bg);

    &.color-white {
      background-image: functions.escape-svg(custom.$svg-arrow-down-white-bg);
    }

    option {
      color: custom.$primary;
    }
  }

  @include breakpoints.media-breakpoint-up(xl) {
    display: block;
  }

  &.header-transparent-bg:not(.header_sticky-active) {
    background: transparent;
  }

  &.header_dark {
    background-color: custom.$primary;

    .navigation__link {
      color: custom.$color-white;
    }

    .header-tools__item {
      color: custom.$color-white;
    }
  }
}

.header-desk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.header-fullwidth {
  //padding: $header-fullwidth-padding;
  width: 100%;

  .header-top {
    margin: custom.$header-top-margin;
    padding: custom.$header-fullwidth-padding;

    @include breakpoints.media-breakpoint-up(xxl) {
      margin: custom.$header-top-margin-xxl;
      padding: custom.$header-fullwidth-padding-xxl;
    }
  }
}

.logo__image {
  max-height: 52px;
}

.header-tools__item {
  display: flex;
  align-items: center;
  padding: custom.$header-tools-item-padding-y custom.$header-tools-item-padding-x;
  text-decoration: none;
  color: custom.$nav-link-color;
  width: 36px;
  height: 36px;

  &:last-child {
    margin-right: 0;
  }

  @include breakpoints.media-breakpoint-up(xl) {
    margin-right: custom.$header-tools-item-space;
  }
}

// Header Cart
.header-tools__cart {
  position: relative;

  .cart-amount {
    top: calc(#{custom.$header-tools-item-padding-y} + 1em);
    left: calc(#{custom.$header-tools-item-padding-x} + 1em);
    width: custom.$header-cart-amount-width;
    height: custom.$header-cart-amount-width;
    border-radius: 100%;
    background: custom.$header-cart-amount-bg;
    color: custom.$header-cart-amount-color;
    font-size: custom.$header-cart-amount-font-size;
    line-height: custom.$header-cart-amount-width;
    text-align: center;
  }
}

.header-search {
  display: flex;
  align-items: center;
  padding: custom.$header-search-box-padding;
  // border: $header-search-box-border;
  border-radius: custom.$header-search-box-border-radius;
  background-color: custom.$header-search-box-bg;

  > :first-child {
    padding-left: 0;
  }

  > :last-child {
    margin-left: custom.$header-search-box-padding-r;
  }

  .hover-container {
    display: none;

    @include breakpoints.media-breakpoint-up(xl) {
      display: block;
    }
  }
}

.header-search__input {
  padding: 0 0 0 custom.$header-search-box-padding-r;
  border: 0;
  background-color: transparent;
  color: custom.$header-search-color;
  outline: none;
}

.header-search__btn {
  padding: 0;
  border: 0;
  line-height: 1;
}

.header-search__category {
  padding-right: custom.$header-search-bg-size;
  background-image: functions.escape-svg(custom.$header-search-indicator);
  background-repeat: no-repeat;
  background-position: custom.$header-search-bg-position;
  background-size: custom.$header-search-bg-size;
  color: custom.$header-search-color;
  outline: none;

  &::placeholder {
    color: custom.$header-search-placeholder;
  }
}

.header-search__category-list {
  right: calc(-#{custom.$header-search-box-padding-r} - 1px);
  width: calc(100% + #{custom.$header-search-box-padding-r * 1.5} + 1px);
  padding: 0 calc(custom.$header-search-box-padding-r / 2);
  border: custom.$header-search-box-border;
}

.header_sticky-bg_dark {
  a {
    color: custom.$color-white;
  }

  svg {
    opacity: 1;
  }

  .btn-close-lg {
    background-image: functions.escape-svg(custom.$btn-close-lg-white-bg);
  }

  .mega-menu,
  .box-menu,
  .default-menu {
    a {
      color: custom.$primary;
    }
  }
}

.header-top {
  &.bordered {
    border-bottom: 1px solid custom.$border-color;
  }

  &.bordered-20per {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}


.userLogin {
  .header-tools__item {
    position: relative;

    .cart-amount {
      top: calc(0.5rem + 1em);
      left: calc(0.5rem + 1.4em);
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background: custom.$color-red-700;
      color: custom.$color-white;;
      font-size: 0.625rem;
      line-height: 1rem;
      text-align: center;

      i {
        font-size: 8px;
      }
    }
  }
}