.header-desk_type_5 {
  padding: $header-type-5-padding;

  .logo {
    margin-right: $header-type-5-logo-space;

    @media (min-width: 992px) {
      max-width: 140px;
    }
    
    @include media-breakpoint-up(xl) {
      max-width: 160px;
    }
  }

  .header-search {
    // width: $header-type-5-search-box-width;
    margin-right: auto;
  }
}