@use "../../bootstrap/mixins/breakpoints";
@use "../../bootstrap/variables" as variables;
@use "../../settings/variables" as custom;

.my-account {
  .account-nav {
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    position: sticky;
    top: 65px;
    @include breakpoints.media-breakpoint-up(md) {
      gap: 1rem;
    }
    @include breakpoints.media-breakpoint-down(xl) {
      padding-bottom: 1.5rem;
    }
    .menu-link {
      font-size: 16px;
      &.menu-link_active {
        pointer-events: none;
        color: custom.$color-red-800;
      }
    }
  }

  .page-content {
    padding: 24px;
    border: 1px solid custom.$color-gray-300;
    background-color: #fdfdfd;
    .title-content {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }
    @include breakpoints.media-breakpoint-down(sm) {
      padding: 15px;
      .title-content {
        margin-bottom: 16px;
      }
    }
  }

  &__dashboard {
    p {
      width: 43.125rem;
      max-width: 100%;
    }

    .unerline-link {
      text-decoration: underline;
    }
  }

  &__orders-list {
    overflow-x: auto;
    width: 100%;
  }

  .orders-table {
    border: 1px solid custom.$border-color;
    width: 100%;

    thead {
      th {
        background-color: custom.$border-color;
        padding: 1rem 1.875rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        white-space: nowrap;
      }
    }

    tbody {
      td {
        border-top: 1px solid custom.$border-color;
        padding: 1.875rem;
        white-space: nowrap;

        &:first-child {
          text-decoration: underline;
        }

        &:last-child {
          width: 12.5rem;
        }

        .btn {
          height: 3.125rem;
          font-size: 0.875rem;
        }
      }
    }
  }

  &__address {
    .notice {
      margin-bottom: 1rem;

      @include breakpoints.media-breakpoint-down(sm) {
        margin-bottom: 1.875rem;
      }
    }

    &-list {
      display: flex;
      gap: 5.625rem;

      @include breakpoints.media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    &-item {
      flex-grow: 1;

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0.875rem;
        font-weight: 500;

        h5 {
          font-size: 1.125rem;
          margin: 0;
        }

        a {
          font-size: 0.8125rem;
          &.address-icon{
            border: 0;
            width: 30px;
            height: 30px;
            background-color: custom.$dark;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            color: custom.$color-white;
          }
        }
      }

      &__detail {
        line-height: 1.5rem;

        p {
          margin: 0;
        }
      }
    }
  }

  &__edit {
    .btn-primary {
      width: 18.75rem;
      height: 3.25rem;
      max-width: 100%;
      text-transform: uppercase;
      font-size: 0.875rem;
    }
  }

  &__wishlist {
    .btn-remove-from-wishlist {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      z-index: 2;
      border: 0;
      background-color: custom.$color-white;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: all .3s ease;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
    }

    .product-card:hover .btn-remove-from-wishlist {
      opacity: 1;
      visibility: visible;
    }
  }

  // Address and Billing
  .section-address-billing {
    .my-account__address {
      .mb-30px {
         @include breakpoints.media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
      }
      .my-account__address-item {
        padding: 15px;
        border: 1px solid custom.$color-gray-300;
        height: 100%;
        background-color: custom.$color-white;

        &.bg-light-address {
          background-color: #f3f3f3;
        }

        .my-account__address-item__title {
          margin-bottom: 0;
        }
      }

      .select_default {
        color: #2fac64;
        line-height: 26px;
      }
    }
  }
  //Waranty card css
  .JourneyCatalogueModal {
    .modal-content { 
      .modal-body {
        height: auto;
        .proposal_input {
          height: 200px !important;
          border: 1px dashed rgb(168, 168, 168);
        }
        .how_we_meet_input {
          border: 1px dashed rgb(168, 168, 168);
          height: 120px;
        }
        .images-upload {
          width: 100%;
          height: 100px;
          img {
            object-fit: contain;
          }
        }
      }
      .modal-footer {
        border: none;
      }
    }
  }
  // ! Coupon
  .coupon-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
    background-color: variables.$white;
    border: 2px dashed variables.$black;

    &>div {
      position: relative;
      height: 100%;
    }

    .coupon-left {
      max-width: 140px;
      width: 100%;
      padding: 15px;
      border-right: 2px dashed variables.$black;
      font-size: 14px;
      line-height: 20px;
      color: variables.$black;

      .coupon-left-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .coupon-rule {
          position: relative;

          .coupon-rule-terms {
            cursor: pointer;

            .terms_conditions {
              position: absolute;
              padding: 10px;
              z-index: 9;
              left: 0;
              max-width: 100%;
              min-width: 350px;
              max-height: 250px;
              overflow: auto;
              border: 1px solid custom.$border-color;
              margin: 0 auto;
              right: 0;
              background-color: custom.$color-white;

              ul {
                padding: 0;
                list-style: none;
                margin: 0;
              }
            }
          }
        }
      }

      .coupon-status {
        padding: 8px;
        font-size: 20px;
        color: variables.$white;
        text-align: center;
        background-color: variables.$black;
      }

      .coupon-status-expired {
        padding: 8px;
        font-size: 20px;
        color: variables.$white;
        text-align: center;
        background-color: rgb(208, 18, 18);
      }

      .coupon-status-upcoming {
        padding: 8px;
        font-size: 20px;
        color: variables.$white;
        text-align: center;
        background-color: rgb(89, 196, 242);
      }

      .coupon-date {
        .fw-medium {
          background-color: custom.$color-beige;
          color: variables.$white;
          display: inline-block;
          padding: 4px 10px;
          text-transform: capitalize;
        }
      }
    }

    .border-lights-after::before,
    .border-lights-after::after {
      border: 2px dashed #f8f9fa !important;
    }

    .coupon-left::before,
    .coupon-left::after {
      position: absolute;
      display: block;
      content: "";
      border-radius: 100%;
      background: variables.$white;
      box-sizing: border-box;
      width: 22px;
      height: 22px;
      border: 2px dashed variables.$black;
    }

    .coupon-left::before {
      top: -11px;
      right: -12px;
    }

    .coupon-left::after {
      bottom: -11px;
      right: -12px;
    }

    .coupon-left-inner::before,
    .coupon-left-inner::after {
      position: absolute;
      display: block;
      content: "";
      border-radius: 100%;
      background: variables.$white;
      z-index: 1;
      width: 24px;
      height: 24px;
    }

    .coupon-left-inner::before {
      top: -19px;
      right: -13px;
    }

    .coupon-left-inner::after {
      bottom: -19px;
      right: -13px;
    }

    .coupon-right {
      width: 100%;

      .coupon-detail {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 12px;

        .coupon-size {
          font-size: 36px;
          font-weight: 500;
          color: variables.$black;
          padding-right: 10px;
          line-height: 1.3;

          span {
            padding-left: 3px;
            font-size: 16px;
          }
        }

        .desc {
          display: flex;
          margin-bottom: 15px;

          .coupon-title {
            font-size: 24px;
            font-weight: 500;
            color: variables.$white;
            padding: 0 10px;
            background-color: custom.$color-beige;
            margin: auto 0;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .coupon-info {
          margin-bottom: 15px;

          .show_more {
            color: custom.$color-red-700;
            text-decoration: underline;
            cursor: pointer;
            text-transform: capitalize;
          }
        }

        .coupon-text {
          font-size: 16px;
          line-height: 1.3;
          color: variables.$black;
          margin-bottom: 4px;
          word-break: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;

          &.active {
            -webkit-line-clamp: none;
          }
        }

        .coupon-code {
          padding: 4px 10px;
          text-align: center;
          font-size: 18px;
          border: 2px dashed variables.$black;
          cursor: pointer;
        }

        .disabled {
          cursor: no-drop;
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
  .orderSearch {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 16px;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .MyOrder_info {
    border: 1px solid custom.$color-gray-300;
    padding: 15px;
    margin-bottom: 24px;
    background-color: variables.$white;
    .order-list-row {
      display: flex;
      flex-wrap: wrap;
      .order-list-left {
        flex: 1;
      }
      .order-list-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .Quantity_pz {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          .profile-title {
              font-size: 18px;
          }
          @media (max-width: 575px) {
            width: 100%;
            flex-direction: row;
          }
        }
        .total-prize {
            font-size: 18px;
            margin-bottom: 0;
            font-weight: 500;
        }
        .single-product-desc {
          .order-title {
            color: variables.$black;
            font-weight: 500;
            font-size: 16px;
            word-wrap: break-word;
            word-break: break-word;
            margin-bottom: 8px;
            cursor: pointer;
          }
        }
        .cancelled-order {
          @media (min-width: 576px) {
            flex: 1;
            padding-right: 20px;
          }
        }
        .order-list-product {
          border-bottom: 1px solid custom.$color-gray-300;
          padding: 15px 0;

          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
          }
          .d-sm-flex+.d-sm-flex {
            padding-top: 15px;
          }
        }
      }
    }
    .OrderDetail {
      cursor: pointer;
      font-size: 15px;
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }
     @include breakpoints.media-breakpoint-down(sm) {
      margin-bottom: 15px;
     }
  }
}