.collections-grid_masonry {
  @media (min-width: 992px) {
    height: 30rem;
  }

  @include media-breakpoint-up(xxl) {
    height: 37.5rem;
  }

  .collection-grid__item {
    height: 17.8125rem;

    @media (min-width: 992px) {
      height: auto;
    }
  }
}

.collection-grid__item {
  margin-bottom: $container-padding-x;

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}