@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;

.collections-grid_masonry {
  @include breakpoints.media-breakpoint-up(lg) {
    height: 30rem;
  }

  @include breakpoints.media-breakpoint-up(xxl) {
    height: 37.5rem;
  }

  .collection-grid__item {
    height: 17.8125rem;

    @include breakpoints.media-breakpoint-up(lg) {
      height: auto;
    }
  }
}

.collection-grid__item {
  margin-bottom: custom.$container-padding-x;

  @include breakpoints.media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}