.grid-banner__item_rect {
  min-height: 19.375rem;

  @media (min-width: 992px) {
    min-height: 28.875rem;
  }

  &_2 {
    @media (min-width: 992px) {
      min-height: 31.25rem;

      .content_abs {
        --content-space: 4.5625rem;
      }
    }
  }

  &_3 {
    @media (min-width: 992px) {
      min-height: 28.125rem;

      .content_abs {
        --content-space: 3.125rem;
      }
    }
  }
}
