@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;

.block-newsletter {
  @include breakpoints.media-breakpoint-up(sm) {
    padding: 0 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .block-newsletter__form {
    display: flex;
    gap: 1.25rem;
  }

  .form-control {
    border-width: .125rem;
    border-color: custom.$newsletter-form-input-border;
  }

  .btn {
    font-size: custom.$newsletter-form-input-font-size;
  }

  &.dark {
    .form-control {
      border-color: custom.$newsletter-dark-form-input-border;
      background-color: custom.$newsletter-dark-form-input-bg;
      color: custom.$newsletter-dark-form-input-color;

      &::placeholder {
        color: custom.$newsletter-dark-form-input-placeholder-color;
      }
    }

    .btn {
      border-color: custom.$newsletter-dark-form-button-border;
      background-color: custom.$newsletter-dark-form-button-bg;
      color: custom.$newsletter-dark-form-button-color;
    }
  }
}