@use "../../settings/variables" as custom;

.shop-acs__select {
  padding-right: custom.$input-padding-y;
  background-position: right center;
  padding-left: custom.$input-padding-x;
  cursor: pointer;
  box-shadow: none !important;
  text-transform: uppercase;
  font-weight: 500;
}

.shop-asc__seprator {
  width: 2px;
  height: 22px;
}

.aside-filters {
  overflow-x: hidden;
  overflow-y: auto;
}