#viewJourney {
    iframe {
        height: 100vh;
    }

    .cunsumer_detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0 5px 0;
        align-items: center;
        font-size: 14px;
        border-bottom: 1px solid #dcd9d9;

        p {
            margin: 0;
        }

        .apply_detail {
            display: flex;
            flex-wrap: wrap;
            .icons {
                opacity: 0;
                visibility: hidden;
            }
            .active {
                opacity: 1;
                visibility: visible;

                a {
                    margin: 0 0 0 10px;
                }
            }
        }

        .share_back {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .back_btn {
                background-color: transparent;
                border: none;
                align-items: center;
                color: #8a8a8a;
                padding: 0;

                i {
                    margin: 0 5px 0 0;
                }

            }
        }
    }

}