@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;

.deal-timer {
  --countdown-space: 1.125rem;

  min-height: 19.375rem;
  margin: 0 custom.$container-padding-x;
  padding: 2rem 1rem;

  .countdown-unit {
    position: relative;
    min-width: 4.375rem;
    padding-right: calc(var(--countdown-space) * 2);
    font-size: custom.$h5-font-size;
    line-height: 1;
  }

  .countdown-word {
    font-size: custom.$font-size-base;
  }

  .day,
  .hour,
  .min {
    &:after {
      content: ':';
      display: block;
      position: absolute;
      top: 0;
      right: var(--countdown-space);
    }
  }

  @include breakpoints.media-breakpoint-up(md) {
    min-height: 25rem;

    .countdown-unit {
      font-size: 1.5rem;
    }
  }

  @include breakpoints.media-breakpoint-up(lg) {
    min-height: 31.25rem;
    padding: 2.5rem 0;

    .countdown-unit {
      min-width: 6.25rem;
      font-size: 1.875rem;
    }

    .countdown-word {
      font-size: custom.$h6-font-size;
    }
  }

  @include breakpoints.media-breakpoint-up(xxl) {
    --countdown-space: 1.375rem;

    min-height: 37.5rem;
    margin: 0 custom.$full-section-padding-x;
  }
}