@use "../../bootstrap/mixins/transition";
@use "../../bootstrap/variables" as variables;
@use "../../mixins/text-padding";
@use "../../settings/variables" as custom;

.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: custom.$form-floating-height;
    @include text-padding.text-padding(custom.$input-padding-y-lg, custom.$input-padding-x-lg);
  }

  > label {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    padding: 0 0.5rem;
    pointer-events: none;
    border: custom.$input-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    @include transition.transition(variables.$form-floating-transition);
    color: custom.$secondary;
  }

  // stylelint-disable no-duplicate-selectors
  > .form-control {
    &::placeholder {
      color: transparent;
    }

    // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
    &:-webkit-autofill {
      padding-top: variables.$form-floating-input-padding-t;
      padding-bottom: variables.$form-floating-input-padding-b;
    }
  }

  > .form-select {
    padding-top: variables.$form-floating-input-padding-t;
    padding-bottom: variables.$form-floating-input-padding-b;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-select {
    ~ label {
      background-color: custom.$color-white;
      color: custom.$primary;
      transform: variables.$form-floating-label-transform;
    }
  }
  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    ~ label {
      background-color: custom.$color-white;
      color: custom.$primary;
      transform: variables.$form-floating-label-transform;
    }
  }
  // stylelint-enable no-duplicate-selectors
}

.form-label-fixed {
  position: relative;

  > .form-label {
    position: absolute;
    top: -(custom.$fixed-label-padding-y) - calc(custom.$font-size-base * custom.$line-height-base / 2);
    left: 1rem;
    margin: 0;
    padding: custom.$fixed-label-padding-y custom.$fixed-label-padding-right
      custom.$fixed-label-padding-y custom.$fixed-label-padding-right;
    background-color: custom.$fixed-label-background;
    color: custom.$fixed-label-color;
    z-index: 1;
  }
}
