@use "sass:math";
@use "../../bootstrap/mixins/border-radius";
@use "../../bootstrap/mixins/gradients";
@use "../../bootstrap/mixins/transition";
@use "../../bootstrap/variables" as variables;
@use "../../bootstrap/vendor/rfs";
@use "../../mixins/box-shadow";
@use "../../mixins/text-padding";
@use "../../settings/variables" as custom;

//
// General form controls (plus a few specific high-level interventions)
//

.form-control {
  display: block;
  width: 100%;
  @include text-padding.text-padding(custom.$input-padding-y, custom.$input-padding-x);
  font-family: variables.$input-font-family;
  @include rfs.font-size(custom.$input-font-size);
  font-weight: variables.$input-font-weight;
  line-height: custom.$input-line-height;
  color: variables.$input-color;
  background-color: variables.$input-bg;
  background-clip: padding-box;
  border: custom.$input-border-width solid custom.$input-border-color;
  appearance: none; // Fix appearance for date inputs in Safari

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius.border-radius(custom.$input-border-radius, 0);

  @include box-shadow.box-shadow(custom.$input-box-shadow);
  @include transition.transition(variables.$input-transition);

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: variables.$input-focus-color;
    background-color: variables.$input-focus-bg;
    border-color: custom.$dark;
    outline: 0;

    @if variables.$enable-shadows {
      @include box-shadow.box-shadow(custom.$input-box-shadow, custom.$input-focus-box-shadow);
    }

    @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: custom.$input-focus-box-shadow;
    }
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
  &::-webkit-date-and-time-value {
    // Multiply line-height by 1em if it has no unit
    height: if(math.unit(custom.$input-line-height)=="", custom.$input-line-height * 1em, custom.$input-line-height);
  }

  // Placeholder
  &::placeholder {
    color: custom.$input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: variables.$input-disabled-bg;
    border-color: variables.$input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  // File input buttons theming
  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  &::file-selector-button {
    @include text-padding.text-padding(custom.$input-padding-y, custom.$input-padding-x);
    margin: (-(custom.$input-padding-y)) (-(custom.$input-padding-x));
    margin-inline-end: custom.$input-padding-x;
    color: variables.$form-file-button-color;
    @include gradients.gradient-bg(variables.$form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: custom.$input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    @include transition.transition(custom.$btn-transition);
  }

  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: variables.$form-file-button-hover-bg;
  }

  &::-webkit-file-upload-button {
    @include text-padding.text-padding(custom.$input-padding-y, custom.$input-padding-x);
    margin: (-(custom.$input-padding-y)) (-(custom.$input-padding-x));
    margin-inline-end: custom.$input-padding-x;
    color: variables.$form-file-button-color;
    @include gradients.gradient-bg(variables.$form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: custom.$input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    @include transition.transition(custom.$btn-transition);
  }

  &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: variables.$form-file-button-hover-bg;
  }

  // &[type="password"] {
  //   font-family: 'Trebuchet MS', sans-serif;
  //   letter-spacing: 0.18em;
  // }
}

.form-control_gray {
  border-color: custom.$color-gray-300;
}

// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

// .form-control-plaintext {
//   display: block;
//   width: 100%;
//   padding: $input-padding-y 0;
//   margin-bottom: 0; // match inputs if this class comes on inputs with default margins
//   line-height: $input-line-height;
//   color: $input-plaintext-color;
//   background-color: transparent;
//   border: solid transparent;
//   border-width: $input-border-width 0;

//   &.form-control-sm,
//   &.form-control-lg {
//     padding-right: 0;
//     padding-left: 0;
//   }
// }

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// Repeated in `_input_group.scss` to avoid Sass extend issues.

.form-control-sm {
  min-height: variables.$input-height-sm;
  @include text-padding.text-padding(custom.$input-padding-y-sm, custom.$input-padding-x-sm);
  @include rfs.font-size(custom.$input-font-size);
  @include border-radius.border-radius(custom.$input-border-radius-sm);

  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  &::file-selector-button {
    @include text-padding.text-padding(custom.$input-padding-y-sm, custom.$input-padding-x-sm);
    margin: (-(custom.$input-padding-y-sm)) (-(custom.$input-padding-x-sm));
    margin-inline-end: custom.$input-padding-x-sm;
  }

  &::-webkit-file-upload-button {
    @include text-padding.text-padding(custom.$input-padding-y-sm, custom.$input-padding-x-sm);
    margin: (-(custom.$input-padding-y-sm)) (-(custom.$input-padding-x-sm));
    margin-inline-end: custom.$input-padding-x-sm;
  }
}

.form-control-lg {
  min-height: variables.$input-height-lg;
  @include text-padding.text-padding(custom.$input-padding-y-lg, custom.$input-padding-x-lg);
  @include rfs.font-size(custom.$input-font-size);
  @include border-radius.border-radius(custom.$input-border-radius-lg);

  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  &::file-selector-button {
    @include text-padding.text-padding(custom.$input-padding-y-lg, custom.$input-padding-x-lg);
    margin: (-(custom.$input-padding-y-lg)) (-(custom.$input-padding-x-lg));
    margin-inline-end: custom.$input-padding-x-lg;
  }

  &::-webkit-file-upload-button {
    @include text-padding.text-padding(custom.$input-padding-y-lg, custom.$input-padding-x-lg);
    margin: (-(custom.$input-padding-y-lg)) (-(custom.$input-padding-x-lg));
    margin-inline-end: custom.$input-padding-x-lg;
  }
}

// Make sure textareas don't shrink too much when resized
// https://github.com/twbs/bootstrap/pull/29124
// stylelint-disable selector-no-qualifying-type
textarea {
  &.form-control {
    min-height: variables.$input-height;
  }

  &.form-control-sm {
    min-height: variables.$input-height-sm;
  }

  &.form-control-lg {
    min-height: variables.$input-height-lg;
  }
}

// stylelint-enable selector-no-qualifying-type

.form-control-color {
  max-width: 3rem;
  height: auto; // Override fixed browser height
  padding: custom.$input-padding-y;

  &:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::-moz-color-swatch {
    height: if(math.unit(custom.$input-line-height)=="", custom.$input-line-height * 1em, custom.$input-line-height);
    @include border-radius.border-radius(custom.$input-border-radius);
  }

  &::-webkit-color-swatch {
    height: if(math.unit(custom.$input-line-height)=="", custom.$input-line-height * 1em, custom.$input-line-height);
    @include border-radius.border-radius(custom.$input-border-radius);
  }
}