@use "../../bootstrap/functions";
@use "../../bootstrap/mixins/border-radius";
@use "../../bootstrap/mixins/transition";
@use "../../bootstrap/variables" as variables;
@use "../../settings/variables" as custom;

//
// Check/radio
//

.form-check {
  display: block;
  position: relative;
  min-height: variables.$form-check-min-height;
  padding-left: custom.$form-check-padding-start;
  margin-bottom: custom.$form-check-margin-bottom;

  .form-check-input {
    float: left;
    margin-left: custom.$form-check-padding-start * -1;
  }
}

.form-check-input {
  width: custom.$form-check-input-width;
  height: custom.$form-check-input-height;
  margin-top: calc(
    (custom.$line-height-base * custom.$font-size-base - custom.$form-check-input-height) / 2
  ); // line-height minus check height
  vertical-align: top;
  background-color: variables.$form-check-input-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: custom.$form-check-input-border;
  appearance: none;
  color-adjust: exact; // Keep themed appearance for print
  @include transition.transition(variables.$form-check-transition);

  &[type="checkbox"] {
    @include border-radius.border-radius(custom.$form-check-input-border-radius);
  }

  &[type="radio"] {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: variables.$form-check-radio-border-radius;
    &:after {
      border-radius: variables.$form-check-radio-border-radius;
    }
  }

  &.form-check-input_fill {
    position: relative;
    border-width: custom.$checkbox-border-width;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(#{variables.$form-check-input-width} - #{custom.$checkbox-border-width * 4});
height: calc(#{variables.$form-check-input-width} - #{custom.$checkbox-border-width * 4});
      background-color: transparent;
    }
  }

  &:focus {
    border-color: custom.$dark;
    outline: 0;
    box-shadow: custom.$dark;
  }

  &:checked {
    background-color: custom.$dark;
    border-color: custom.$dark;

    &[type="checkbox"] {
      @if variables.$enable-gradients {
        background-image: functions.escape-svg(variables.$form-check-input-checked-bg-image),
          var(--#{variables.$variable-prefix}gradient);
      } @else {
        background-image: functions.escape-svg(variables.$form-check-input-checked-bg-image);
      }
    }

    &[type="radio"] {
      @if variables.$enable-gradients {
        background-image: functions.escape-svg(variables.$form-check-radio-checked-bg-image),
          var(--#{variables.$variable-prefix}gradient);
      } @else {
        background-image: functions.escape-svg(variables.$form-check-radio-checked-bg-image);
      }
    }

    &.form-check-input_fill {
      background-image: none;
      background-color: custom.$color-white;

      &:after {
        background-color: custom.$checkbox-active-color;
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: variables.$form-check-input-indeterminate-bg-color;
    border-color: variables.$form-check-input-indeterminate-border-color;

    @if variables.$enable-gradients {
      background-image: functions.escape-svg(variables.$form-check-input-indeterminate-bg-image),
        var(--#{variables.$variable-prefix}gradient);
    } @else {
      background-image: functions.escape-svg(variables.$form-check-input-indeterminate-bg-image);
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: variables.$form-check-input-disabled-opacity;
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: variables.$form-check-label-disabled-opacity;
    }
  }
}

.form-check-label {
  color: variables.$form-check-label-color;
  cursor: variables.$form-check-label-cursor;
}

//
// Switch
//

.form-switch {
  min-height: custom.$form-switch-height;
  padding-left: custom.$form-switch-padding-start;

  .form-check-input {
    width: custom.$form-switch-width;
    height: custom.$form-switch-height;
    margin-top: 0;
    margin-left: custom.$form-switch-padding-start * -1;
    @include border-radius.border-radius(variables.$form-switch-border-radius);
    background-image: functions.escape-svg(custom.$form-switch-bg-image);
    background-position: left center;

    &:focus {
      background-image: functions.escape-svg(variables.$form-switch-focus-bg-image);
    }

    &:checked {
      background-position: variables.$form-switch-checked-bg-position;

      @if variables.$enable-gradients {
        background-image: functions.escape-svg(variables.$form-switch-checked-bg-image),
          var(--#{variables.$variable-prefix}gradient);
      } @else {
        background-image: functions.escape-svg(variables.$form-switch-checked-bg-image);
      }
    }
  }

  .form-check-label {
    line-height: custom.$form-switch-height;
  }
}

.form-check-inline {
  display: inline-block;
  margin-right: variables.$form-check-inline-margin-end;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;

  &[disabled],
  &:disabled {
    + .btn {
      pointer-events: none;
      opacity: variables.$form-check-btn-check-disabled-opacity;
    }
  }
}
