@use "../../bootstrap/functions";
@use "../../bootstrap/mixins/border-radius";
@use "../../bootstrap/variables" as variables;
@use "../../bootstrap/vendor/rfs";
@use "../../mixins/box-shadow";
@use "../../mixins/text-padding";
@use "../../settings/variables" as custom;

// Select
//
// Replaces the browser default select with a custom one, mostly pulled from
// https://primer.github.io/.

.form-select {
  display: block;
  width: 100%;
  @include text-padding.text-padding(
    custom.$input-padding-y,
    custom.$input-padding-x
  );
  padding-right: custom.$input-padding-y * 2.5;
  font-family: variables.$form-select-font-family;
  @include rfs.font-size(custom.$form-select-font-size);
  font-weight: variables.$form-select-font-weight;
  line-height: custom.$form-select-line-height;
  border: custom.$form-select-border-width solid
    custom.$form-select-border-color;
  @include border-radius.border-radius(custom.$form-select-border-radius, 0);
  @include box-shadow.box-shadow(custom.$form-select-box-shadow);
  background-color: variables.$form-select-bg;
  background-image: functions.escape-svg(custom.$form-select-indicator);
  background-repeat: no-repeat;
  background-position: custom.$form-select-bg-position;
  background-size: variables.$form-select-bg-size;
  color: variables.$form-select-color;
  appearance: none;
  vertical-align: middle;

  &:focus {
    border-color: variables.$form-select-focus-border-color;
    outline: 0;

    @if variables.$enable-shadows {
      @include box-shadow.box-shadow(
        custom.$form-select-box-shadow,
        variables.$form-select-focus-box-shadow
      );
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: variables.$form-select-focus-box-shadow;
    }
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: variables.$form-select-padding-x;
    background-image: none;
  }

  &:disabled {
    color: variables.$form-select-disabled-color;
    background-color: variables.$form-select-disabled-bg;
    border-color: variables.$form-select-disabled-border-color;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 variables.$form-select-color;
  }
}

.form-select-sm {
  width: auto;
  @include text-padding.text-padding(
    custom.$input-padding-y-sm,
    custom.$input-padding-x-sm
  );
  padding-right: custom.$input-padding-x-sm * 1.8;
  background-position: custom.$form-select-sm-bg-position;
  // padding-top: $input-padding-y-sm;
  // padding-bottom: $input-padding-y-sm;
  // padding-left: $form-select-padding-x-sm;
  // @include font-size($form-select-font-size-sm);
}

.form-select-lg {
  @include text-padding.text-padding(
    custom.$input-padding-y-lg,
    custom.$input-padding-x-lg
  );
  // padding-top: $input-padding-y-lg;
  // padding-bottom: $input-padding-y-lg;
  // padding-left: $form-select-padding-x-lg;
  // @include font-size($form-select-font-size-lg);
}

// Multi select
// .multi-select {
//   .multi-select__actor {
//     background-color: $input-bg;
//   }
// }

// .multi-select__actor {
//   background-image: escape-svg($form-select-indicator);
//   background-position: $form-select-bg-position;
//   background-repeat: no-repeat;
//   background-size: $form-select-bg-size;
//   cursor: pointer;
// }

.multi-select__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: custom.$select-item-padding-y 0;
  color: custom.$body-color-secondary;
  cursor: pointer;

  &:hover {
    color: functions.shift-color(custom.$body-color-secondary, 50%);
  }

  &:before {
    content: "";
    display: block;
    width: custom.$form-check-input-width;
    height: custom.$form-check-input-width;
    color: custom.$checkbox-color;
    border: custom.$checkbox-border-width solid currentColor;
    border-radius: 0;
    margin-right: 0.75rem;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: custom.$checkbox-border-width * 2;
    top: 50%;
    transform: translateY(-50%);
    width: calc(
      #{custom.$form-check-input-width} - #{custom.$checkbox-border-width *
        4}
    );
    height: calc(
      #{custom.$form-check-input-width} - #{custom.$checkbox-border-width *
        4}
    );
    background-color: transparent;
    border-radius: 0;
  }
}

.mult-select__item_selected {
  color: custom.$checkbox-active-color;

  &:before {
    color: custom.$checkbox-active-color;
  }

  &:after {
    background-color: custom.$checkbox-active-color;
  }
}
