@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;

.products-grid {
  .row {
    --bs-gutter-x: #{custom.$grid-mobile-gutter-width};

    @include breakpoints.media-breakpoint-up(md) {
      --bs-gutter-x: #{custom.$grid-tablet-gutter-width};
    }

    @include breakpoints.media-breakpoint-up(lg) {
      --bs-gutter-x: #{custom.$grid-gutter-width};
    }
  }

  .nav {
    margin-left: -var(--bs-gutter-x);
    margin-right: -var(--bs-gutter-x);
  }
}