@use "../../bootstrap/mixins/breakpoints";
@use "../../settings/variables" as custom;

.login-register {
  width: 40.625rem;
  max-width: 100%;
  padding: 0 4.6875rem;
  
  @include breakpoints.media-breakpoint-down(md) {
    padding: 0 1rem;
  }

  .nav-tabs {
    justify-content: center;
    text-transform: uppercase;
  }

  .btn {
    font-size: 0.875rem;
    height: 3.25rem;
    font-weight: 500;
  }

  p {
    color: custom.$secondary;
  }
}