@use "../bootstrap/functions";
@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/mixins/grid";
@use "../bootstrap/variables" as variables;
@use "../settings/variables" as custom;

// Row
//
// Rows contain your columns.

@if variables.$enable-grid-classes {
  .row {
    @include grid.make-row();

    >* {
      @include grid.make-col-ready();
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if variables.$enable-grid-classes {
  @include grid.make-grid-columns();
}

body {
  ::-webkit-scrollbar {
    margin-right: 1.25rem;
    width: 0.25rem;
    height: 0.25rem;
    background-color: variables.$body-bg;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: custom.$border-color;
  }
}

.snap main {
  @include breakpoints.media-breakpoint-down(lg) {
    overflow-x: hidden;
  }
}

img {
  max-width: 100%;
}

.block {
  margin: custom.$block-space 0;
}

.full-width_padding {
  overflow: hidden;

  @include breakpoints.media-breakpoint-up(xxl) {
    width: 100%;
    padding: 0 custom.$full-section-padding-x;
  }
}

.full-width_padding-20 {
  width: 100%;
  padding: 0 1.25rem;
  @include breakpoints.media-breakpoint-down(xxl) {
    padding: 0 15px;
  }
}

.full-width_border {
  @include breakpoints.media-breakpoint-down(xxl) {
    border: 0 !important;
  }

  @include breakpoints.media-breakpoint-up(xxl) {
    padding: 0.625rem;
    border-style: solid;
  }
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.32s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-color: rgba($color: custom.$color-gray-900, $alpha: 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 1060;
  @include breakpoints.media-breakpoint-up(xl) {
    z-index: variables.$zindex-modal-backdrop;
  }
}

.page-overlay_visible {
  opacity: 1;
  visibility: visible;
}

#scrollTop {
  position: fixed !important;
  right: 0;
  bottom: 3.375rem;
  z-index: variables.$zindex-fixed;
  width: 45px;
  height: 45px;
  background-color: custom.$scroll-top-bg;
  background-image: functions.escape-svg(custom.$svg-arrow-up-bg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  clip: auto !important;
  transition: custom.$menu-appear-animation;

  @include breakpoints.media-breakpoint-up(md) {
    bottom: 0;
  }
}

.mw-930 {
  width: 80rem !important;
  max-width: 100% !important;
  margin: 0 auto;
}
.mw-1000 {
  width: 58.125rem !important;
  max-width: 100% !important;
  margin: 0 auto;
}

.gutters-20 .row {
  --bs-gutter-x: 1.25rem;
}