// Row
//
// Rows contain your columns.

@if $enable-grid-classes {
  .row {
    @include make-row();

    >* {
      @include make-col-ready();
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}

body {
  ::-webkit-scrollbar {
    margin-right: 1.25rem;
    width: 0.25rem;
    height: 0.25rem;
    background-color: $body-bg;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: $border-color;
  }
}

.snap main {
  @include media-breakpoint-down(lg) {
    overflow-x: hidden;
  }
}

img {
  max-width: 100%;
}

.block {
  margin: $block-space 0;
}

