.navigation__list {
  margin-bottom: 0;
}

.navigation__item {
  @include media-breakpoint-up(lg) {
    &:hover {
      &::before {
        display: block;
        position: absolute;
        top: 0;
        width: 7.5rem;
        height: 100%;
        background-color: transparent;
        content: '';
      }
    }
  }
}

.navigation__link {
  display: inline-block;
  position: relative;
  padding-top: $navigation-item-padding-y;
  padding-bottom: $navigation-item-padding-y;
  color: $nav-link-color;
  font-weight: $nav-link-font-weight;
  line-height: $navigation-item-line-height;
  text-decoration: none;
  text-transform: uppercase;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    left: $navigation-item-padding-x-sm;
    width: 0;
    height: 2px;
    transition: $nav-link-underline-transition-s;
    background-color: currentColor;
  }

  &:hover {
    &:after {
      width: $nav-link-active-bottom-width;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: $navigation-item-padding-x-sm;
    padding-left: $navigation-item-padding-x-sm;
    font-size: 11px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 11px;  
  }
  @include media-breakpoint-up(xxl) {
    padding: $navigation-item-padding-x-xxl;
    //padding-left: $navigation-item-padding-x-xxl;
    font-size: 14px;

    &:after {
      left: 0.6rem;
    }
  }
}

.sub-menu__title {
  display: block;
  margin-bottom: .5rem;
  color: $sub-menu-title-color;
  font-weight: $font-weight-heading;
  text-transform: uppercase;

  &:hover {
    color: #767676;
    cursor: default;
  }
}

.menu-link {
  display: inline-block;
  position: relative;
  padding: $menu-link-padding-y $menu-link-padding-x;
  color: $sub-menu-link-color;
  line-height: $menu-link-line-height;
  text-transform: capitalize;
}

// Menu link underlined small
.menu-link_us-s {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: $menu-link-line-height + $menu-link-padding-y;
    left: 0;
    width: 0;
    height: 2px;
    transition: $nav-link-underline-transition-s;
    background-color: currentColor;
  }

  &:hover,
  &.menu-link_active {
    &:after {
      width: $nav-link-active-bottom-width;
    }
  }
}

.box-menu {
  display: flex;
  display: -ms-flexbox;
  position: absolute;
  top: calc(100% + 0.75rem);
  left: 0;
  padding: $box-menu-padding;
  width: $box-menu-width;
  background-color: $menu-bg;
  box-shadow: $menu-box-shadow;
  z-index: $zindex-dropdown;
  transition: $menu-appear-animation;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .navigation__item:hover & {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.default-menu {
  left: unset;
  width: $default-menu-width;
  padding: $default-menu-padding;
  position: absolute;
  top: calc(100% + 0.75rem);
  background-color: $menu-bg;
  box-shadow: $menu-box-shadow;
  z-index: $zindex-dropdown;
  transition: $menu-appear-animation;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  .navigation__item:hover & {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.mega-menu {
  border-top: $mega-menu-border;
  position: absolute;
  top: calc(100% + 0.75rem);
  left: 0;
  border-top: $mega-menu-border;
  width: 100%;
  padding: $mega-menu-padding;
  z-index: $zindex-dropdown;
  background-color: $menu-bg;
  box-shadow: $menu-box-shadow;
  transition: $menu-appear-animation;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .navigation__item:hover & {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mega-menu-row{
    display: flex;
    flex-wrap: wrap;
    .menu-link{
      display: inline-flex;
      align-items: center; 
      padding: .40em 0;
      &::after{
        display: none;
      }
      &:hover{
        // color: $header-cart-amount-bg;
        color: #656565;
      }
      
      .shape-icon {
        font-size: 20px;
      }
    }
  }
  .sub-menu__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .menu-link {
        font-size: 13px;
    }
  }
}

.sub-menu__list + .sub-menu__title {
  margin-top: 1.875rem;
}

.mega-menu__media {
  flex: 2 0 0;
  max-width: 28rem;
}

.mega-menu__img {
  max-width: 100%;
  object-fit: cover;
}