.blog {
  &-page {
    &-title {
      width: 112.5rem;
      height: 16rem;
      max-width: calc(100% - 1.875rem);
      border: 2px solid $border-color;
      margin: 0 auto;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      padding: 1.25rem;

     

      .title-bg {
        display: block;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
        top: 0.5rem;
        bottom: 0.5rem;
        z-index: -1;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @include media-breakpoint-up(sm) {
        height: 27.5rem;
        padding: 0;
      }
    }
  }

  &-grid {
    &__item {
      margin-bottom: 2.75rem;

      &-image {
        margin-bottom: 1.25rem;
        position: relative;
        padding-top: 70%;

        img {
          object-fit: cover;
        }
      }

      &-meta {
        display: flex;
        gap: 1.5rem;
        text-transform: uppercase;
        color: $secondary;
        margin-bottom: 0.25rem;
        white-space: nowrap;
      }

      &-title {
        font-size: 1.625rem;
        margin-bottom: 1.875rem;
        line-height: 1.5;

        @include media-breakpoint-down(lg) {
          font-size: 1.125rem;
          margin-bottom: 1.25rem;
        }
      }

      &-content {
        p {
          margin-bottom: 0.625rem;
        }

        .readmore-link {
          text-transform: uppercase;
          position: relative;
          display: inline-block;
          font-weight: 500;

          &:after {
            content: "";
            display: block;
            width: 70%;
            border-bottom: 2px solid;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: all 0.3s ease;
          }

          &:hover:after {
            width: 100%;
          }
        }
      }
    }

    &.row-cols-xl-3 {
      .blog-grid__item-title {
        font-size: 1.125rem;
        margin-bottom: 1.25rem;
      }
    }
  }
  &-single {
    .page-title {
      margin-bottom: 0.875rem;
    }

    &__item {
      &-meta {
        display: flex;
        gap: 1.5rem;
        text-transform: uppercase;
        color: $secondary;
        margin-bottom: 2.625rem;
      }

      &-pagination {
        padding-top: 2.8125rem;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-bottom: 3.125rem;

        p {
          margin-bottom: 2.625rem !important;
        }

        a {
          color: $secondary;
        }
      }
    }

    p {
      margin-bottom: 1.875rem;

      img {
        margin-bottom: 3.25rem;
      }
    }

    h5 {
      margin-bottom: 1.875rem;
    }
  }
}