@use "../bootstrap/mixins/transition";
@use "../bootstrap/variables" as variables;
@use "../bootstrap/vendor/rfs";
@use "../settings/variables" as custom;

.accordion-button {
  padding: custom.$accordion-button-padding-top custom.$accordion-button-padding-x custom.$accordion-button-padding-bottom;
  border: variables.$accordion-border-width solid custom.$accordion-border-color;
  color: custom.$accordion-button-active-color;
  background-color: custom.$accordion-button-active-bg;
  @include rfs.font-size(custom.$content-title-font-size);
  font-weight: custom.$accordion-button-font-weight;
  line-height: custom.$accordion-button-line-height;
  outline: none;

  &::after {
    content: none;
  }

  &.collapsed {
    background-color: variables.$accordion-button-bg;
    color: variables.$accordion-button-color;

    .accordion-button__icon {
      transform: rotate(0deg);

      .svg-path-horizontal {
        opacity: 1;
      }

      &.type2 {
        transform: rotate(180deg);
      }
    }
  }
}

.accordion-button__icon {
  width: custom.$accordion-icon-width;
  height: custom.$accordion-icon-width;
  margin-left: auto;
  fill: custom.$accordion-icon-color;
  transform: rotate(90deg);
  @include transition.transition(custom.$accordion-icon-transition);

  .svg-path-vertical {
    transform: rotate(90deg);
    transform-origin: center;
  }

  .svg-path-horizontal {
    @include transition.transition(custom.$accordion-icon-transition);
    opacity: 0;
  }

  &.type2 {
    transform: rotate(0deg);
  }
}

.accordion-body {
  padding: custom.$accordion-body-padding-top custom.$accordion-padding-x custom.$accordion-body-padding-bottom;
}

.faq-accordion {
  .accordion {
    &-item {
      margin-bottom: 1.25rem;
      border: 0;
      border-radius: 0;
    }

    &-button {
      border: 0;
      border-bottom: 1px solid custom.$border-color;
      padding: 0.625rem 0;
      text-align: left;
      box-shadow: none;
      background-color: custom.$color-white;
      color: custom.$dark;
    }

    &-collapse {
      border: 0;
    }

    &-body {
      padding: 1.5rem 0;

      p {
        margin-bottom: 0;
      }
    }
  }
}