@use "sass:map";
@use "../bootstrap/functions";
@use "../bootstrap/mixins/alert";
@use "../bootstrap/mixins/border-radius";
@use "../bootstrap/variables" as variables;
@use "../settings/variables" as custom;

//
// Base styles
//

.alert {
  position: relative;
  padding: custom.$alert-padding-top custom.$alert-padding-x custom.$alert-padding-bottom;
  margin-bottom: variables.$alert-margin-bottom;
  border: variables.$alert-border-width solid transparent;
  font-weight: custom.$alert-font-weight;
  @include border-radius.border-radius(custom.$alert-border-radius);
}

// Provide class for links that match alerts
.alert-link {
  font-weight: variables.$alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: variables.$alert-dismissible-padding-r;

  // Adjust close link position
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: variables.$stretched-link-z-index + 1;
    padding: custom.$alert-padding-top * 1.1 custom.$alert-padding-x custom.$alert-padding-bottom;
  }
}


// scss-docs-start alert-modifiers
// Generate contextual modifier classes for colorizing the alert.

@each $state, $value in custom.$alert-colors {
  $background: map.get($value, "bg");
  $border: map.get($value, "bg");
  $color: map.get($value, "color");
  // @if (contrast-ratio($background, $color) < $min-contrast-ratio) {
  //   $color: mix($value, color-contrast($background), abs($alert-color-scale));
  // }

  .alert-#{$state} {
    @include alert.alert-variant($background, $border, $color);

    .btn-close {
      background: transparent functions.escape-svg(url("data:image/svg+xml,<svg viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.48881 15.5962L16.0954 4.98963L17.5096 6.40384L6.90302 17.0104L5.48881 15.5962Z' fill='#{$color}'/><path d='M16.0954 17.7176L4.7817 6.40384L6.19592 4.98963L17.5096 16.3033L16.0954 17.7176Z' fill='#{$color}'/></svg>")) center / custom.$btn-close-width auto no-repeat; // include transparent for button elements
    }
  }
}

// scss-docs-end alert-modifiers