@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/variables" as variables;
@use "../settings/variables" as custom;

.aside {
  position: fixed;
  top: 0;
  width: custom.$aside-width;
  max-width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  transition: all 0.32s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: variables.$body-bg;
  opacity: 1;
  z-index: 1061;
  padding: 0 calc(calc(custom.$aside-padding-x / 2));
  @include breakpoints.media-breakpoint-up(xl) {
    z-index: variables.$zindex-modal;
  }
}

.aside_visible {
  opacity: 1;
}

.aside_right {
  right: -(custom.$aside-width);

  &.aside_visible {
    right: 0;
  }
}

.aside-header {
  margin-left: - calc(calc(custom.$aside-padding-x / 2));
  margin-right: - calc(calc(custom.$aside-padding-x / 2));
  padding: 2.125rem custom.$aside-padding-x 1.75rem;
  background-color: custom.$aside-header-bg;
}

.aside-content {
  margin: 1.875rem 0;
  padding: 0 calc(calc(custom.$aside-padding-x / 2));
}

.customer-forms__wrapper {
  left: 0;
  transition: all 0.32s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.customer__login,
.customer__register {
  min-width: 100%;
}