@use "sass:map";
@use "../bootstrap/functions";
@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/mixins/buttons";
@use "../bootstrap/mixins/transition";
@use "../bootstrap/variables" as variables;
@use "../mixins/box-shadow";
@use "../settings/variables" as custom;

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: variables.$btn-font-family;
  font-weight: variables.$btn-font-weight;
  line-height: variables.$btn-line-height;
  color: variables.$body-color;
  text-align: center;
  text-decoration: if(variables.$link-decoration == none, null, none);
  white-space: variables.$btn-white-space;
  vertical-align: middle;
  cursor: if(variables.$enable-button-pointers, pointer, null);
  user-select: none;
  background-color: variables.$body-bg;
  border: variables.$btn-border-width solid transparent;
  @include buttons.button-size(
    variables.$btn-padding-y,
    custom.$btn-padding-x,
    custom.$btn-font-size * 0.875,
    custom.$btn-border-radius
  );
  @include transition.transition(custom.$btn-transition);
  font-size: custom.$btn-font-size * 0.875;
  @include breakpoints.media-breakpoint-down(sm) {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
  padding-top: custom.$btn-padding-top * 0.75;
  padding-bottom: custom.$btn-padding-bottom * 0.75;

  &:hover {
    color: variables.$body-color;
    text-decoration: if(variables.$link-hover-decoration == underline, none, null);
  }
  &:focus:not(:focus-visible){
    box-shadow: none;
  }

  &-55 {
    height: 3.4375rem;
  }

  &-50 {
    height: 3.125rem;
  }

  &-45 {
    height: 2.8125rem;
  }

  &-40 {
    height: 2.5rem;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: custom.$btn-focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow.box-shadow(custom.$btn-active-box-shadow);

    &:focus {
      @include box-shadow.box-shadow(custom.$btn-focus-box-shadow, custom.$btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: variables.$btn-disabled-opacity;
    @include box-shadow.box-shadow(none);
  }

  @include breakpoints.media-breakpoint-up(xxl) {
    font-size: custom.$btn-font-size;
    padding-top: custom.$btn-padding-top;
    padding-bottom: custom.$btn-padding-bottom;
  }
}

//
// Alternate buttons
//

@each $color, $value in custom.$button-colors {
  .btn-#{$color} {
    @include buttons.button-variant($value, $value);
  }

  .btn-outline-#{$color} {
    @include buttons.button-outline-variant($value);
  }

  .btn-hover-#{$color} {
    &:hover {
      background-color: $value;
      color: custom.$color-white;
    }
  }
}

.btn-beige {
  $border: map.get(custom.$btn-beige, "border");
  $background: $border;
  $color: map.get(custom.$btn-beige, "color");
  $active-color: map.get(custom.$btn-beige, "active");
  @include buttons.button-variant(
    $background,
    $border,
    $color,
    functions.tint-color($background, 10%),
    functions.tint-color($border, 10%),
    $active-color
  );
}

.btn-outline-beige {
  $border: map.get(custom.$btn-beige, "border");
  $background: $border;
  $color: $border;
  $active-color: map.get(custom.$btn-beige, "active");
  @include buttons.button-outline-variant(
    $color,
    $active-color,
    $background,
    $border,
    $active-color
  );
}

.btn-light {
  $border: map.get(custom.$btn-light, "border");
  $background: $border;
  $color: map.get(custom.$btn-light, "color");
  $active-color: map.get(custom.$btn-light, "active");
  @include buttons.button-variant(
    $background,
    $border,
    $color,
    functions.tint-color($background, 10%),
    functions.tint-color($border, 10%),
    $active-color
  );
}

.btn-outline-light {
  $border: map.get(custom.$btn-light, "border");
  $background: $border;
  $color: map.get(custom.$btn-light, "color");
  $active-color: map.get(custom.$btn-light, "active");
  @include buttons.button-outline-variant(
    $color,
    $active-color,
    $background,
    $border,
    $active-color
  );
  border-color: $border;
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  display: inline-block;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: variables.$btn-link-color;
  font-weight: variables.$font-weight-normal;
  text-decoration: custom.$link-decoration;

  &:hover {
    color: variables.$btn-link-hover-color;
    text-decoration: variables.$link-hover-decoration;
  }

  &:focus {
    text-decoration: variables.$link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: variables.$btn-link-disabled-color;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    max-width: 100%;
    height: 2px;
    transition: custom.$nav-link-underline-transition-s;
    background-color: currentColor;
  }

  &:hover,
  &.btn-link_active {
    &:after {
      width: custom.$btn-link-active-bottom-width;
    }
  }

  &.default-underline {
    &:after {
      width: custom.$btn-link-active-bottom-width;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.btn-link_lg {
  &:hover,
  &.btn-link_active {
    &:after {
      width: calc(100% - 1rem);
    }
  }

  &.default-underline {
    &:after {
      width: 86%;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.btn-link_md {
  &:hover,
  &.btn-link_active {
    &:after {
      width: 70%;
    }
  }

  &.default-underline {
    &:after {
      width: 70%;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.btn-link_sm {
  &:hover,
  &.btn-link_active {
    &:after {
      width: 45%;
    }
  }

  &.default-underline {
    &:after {
      width: 45%;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.btn-link_f {
  &:hover,
  &.btn-link_active {
    &:after {
      width: 100%;
    }
  }
}

// Round button
.btn-round {
  width: calc(custom.$btn-round-width * 3 / 4);
  height: calc(custom.$btn-round-width * 3 / 4);
  padding: 0;
  border-radius: 100%;

  @include breakpoints.media-breakpoint-up(md) {
    width: custom.$btn-round-width;
    height: custom.$btn-round-width;
  }
}

.btn-round-sm {
  width: custom.$btn-round-sm-width;
  height: custom.$btn-round-sm-width;
  padding: 0;
  border-radius: 100%;
}

.btn-square {
  width: 2.8125rem;
  height: 2.8125rem;
  padding: 0;
}

//
// Button Sizes
//

.btn-lg {
  @include buttons.button-size(
    custom.$btn-padding-y-lg,
    custom.$btn-padding-x-lg,
    custom.$btn-font-size-lg,
    custom.$btn-border-radius-lg
  );
  line-height: custom.$btn-line-height-lg;
}

.btn-sm {
  @include buttons.button-size(
    custom.$btn-padding-y-sm,
    custom.$btn-padding-x-sm,
    variables.$btn-font-size-sm,
    custom.$btn-border-radius-sm
  );
}

//
// Nav icon
//

.nav-icon {
  display: block;
  fill: currentColor;
}

// Icon button
.btn-icon {
  border: 0;
  background-color: transparent;
}

// Text links with underline
.btn-text {
  text-decoration: underline;
}

// Carousel Dots
.swiper-pagination-bullet {
  position: relative;
  width: custom.$swiper-pagination-width;
  height: custom.$swiper-pagination-width;
  margin: 0 4px;
  border: 2px solid transparent;
  background-color: transparent;
  color: transparent;
  opacity: 1;
  outline: none;

  &:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: custom.$swiper-pagination-dot-width;
    height: custom.$swiper-pagination-dot-width;
    margin-top: -(calc(custom.$swiper-pagination-dot-width / 2));
    margin-left: -(calc(custom.$swiper-pagination-dot-width / 2));
    border-radius: 100%;
    background-color: currentColor;
    color: custom.$swiper-pagination-color;
    content: "";
  }

  &:first-child {
    overflow: hidden;
    margin-left: 5px;
  }
}

.swiper-pagination-bullets.dark-bullet .swiper-pagination-bullet:after {
  color: #222;
}

.swiper-pagination-bullet-active {
  color: custom.$swiper-pagination-active-color;
  border-color: custom.$swiper-pagination-active-color;

  &:after {
    color: inherit;
  }
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  color: custom.$color-white;
}

.swiper-pagination-bullets.theme-color {
  .swiper-pagination-bullet-active {
    color: var(--theme-color);
  }
}

// Swatches
// Color swatches
.swatch-color {
  display: block;
  position: relative;
  width: custom.$swatch-color-width;
  height: custom.$swatch-color-height;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 50%;

  &:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    border-radius: 100%;
    background-color: currentColor;
    color: inherit;
    content: "";
  }

  &.swatch_active {
    border: 2px solid variables.$primary;
  }

  .hover-container & {
    margin: 0;
  }
}

// Size swatches
.swatch-size {
  &.swatch_active {
    background-color: custom.$light;
  }
}

// Filter tags
.filter-tag {
  padding: 0 1rem;
  border: 0;
  background-color: custom.$light;
  font-size: 11px;
  line-height: 1.875rem;

  &.swatch_active {
    display: none !important;
  }
}
