@use "../bootstrap/functions";
@use "../bootstrap/mixins/border-radius";
@use "../bootstrap/variables" as variables;
@use "../settings/variables" as custom;

// transparent background and border properties included for button version.
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

.btn-close,
.btn-close-lg,
.btn-close-xs {
  padding: 0;
  border: 0; // for button elements
  box-sizing: content-box;
  color: variables.$btn-close-color;
  @include border-radius.border-radius();
  opacity: custom.$btn-close-opacity;

  // Override <a>'s hover style
  &:hover {
    color: variables.$btn-close-color;
    text-decoration: none;
    opacity: variables.$btn-close-hover-opacity;
  }

  &:focus {
    outline: none;
    // box-shadow: $btn-close-focus-shadow;
    box-shadow: none;
    opacity: variables.$btn-close-focus-opacity;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: variables.$btn-close-disabled-opacity;
  }
}

.btn-close {
  width: custom.$btn-close-width;
  height: custom.$btn-close-height;
  padding: variables.$btn-close-padding-y variables.$btn-close-padding-x;
  background: transparent functions.escape-svg(custom.$btn-close-bg) center / custom.$btn-close-width auto no-repeat; // include transparent for button elements
}

.btn-close-lg {
  width: custom.$btn-close-lg-width;
  height: custom.$btn-close-lg-height;
  background: transparent functions.escape-svg(custom.$btn-close-lg-bg) center / custom.$btn-close-lg-width auto no-repeat; // include transparent for button elements
}

.btn-close-xs {
  width: custom.$btn-close-xs-width;
  height: custom.$btn-close-xs-height;
  padding: 0;
  background: transparent functions.escape-svg(custom.$btn-close-xs-bg) center / custom.$btn-close-xs-width auto no-repeat; // include transparent for button elements
  color: custom.$color-gray-600;
}