@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/mixins/transition";
@use "../bootstrap/variables" as variables;
@use "../settings/variables" as custom;

.search-field__actor {
  svg {
    @include transition.transition(variables.$transition-fade);
  }

  .btn-close-lg {
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 0;
    @include transition.transition(variables.$transition-fade);
    opacity: 0;
    visibility: hidden;
  }

  .js-content_visible & {
    svg {
      opacity: 0;
      visibility: hidden;
    }

    .btn-close-lg {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search-popup {
  top: 100%;
  left: 0;
  padding-top: custom.$search-popup-padding-top * 0.7;
  padding-bottom: custom.$search-popup-padding-bottom * 0.7;;
  border-top: custom.$mega-menu-border;
  background-color: custom.$header-background;
  box-shadow: variables.$box-shadow;

  @include breakpoints.media-breakpoint-up(xl) {
    padding-top: custom.$search-popup-padding-top;
    padding-bottom: custom.$search-popup-padding-bottom;
  }

  .search-suggestion {
    transition: custom.$menu-appear-animation;
  }
}

.search-popup__reset,
.search-popup__submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0;
  padding-bottom: 0.625rem;
  @include transition.transition(variables.$transition-fade);
  color: custom.$body-color-secondary;
  outline: none;
}

.search-popup__reset {
  opacity: 0;
  visibility: hidden;
}

.search-popup__input {
  padding-bottom: 0.625rem;
  border: 0;
  border-bottom: 2px solid custom.$body-color-secondary;
  outline: none;
}

.search-field__focused {
  .search-popup__input {
    border-bottom-color: variables.$body-color;
  }

  .search-popup__reset,
  .search-popup__submit {
    color: variables.$body-color;
  }

  .search-popup__submit {
    opacity: 0;
    visibility: hidden;
  }

  .search-popup__reset {
    opacity: 1;
    visibility: visible;
  }

  .search-result {
    position: relative;
    width: auto;
    margin-top: 0;
    transition: custom.$menu-appear-animation;
    opacity: 1;
    visibility: visible;
  }

  .search-suggestion {
    position: absolute;
    margin-top: -.5rem;
    opacity: 0;
    visibility: hidden;
  }
}

.search-popup__results {
  margin-top: 1.75rem;
}

.search-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: custom.$search-result-min-height * 0.6;
  margin-top: .5rem;
  padding-bottom: custom.$search-result-bottom-space * 0.6;
  opacity: 0;
  visibility: hidden;

  .product-card {
    --bs-gutter-x: 1.75rem;
  }

  .pc__img-wrapper {
    padding-top: custom.$search-result-img-height * 0.54;
  }

  @include breakpoints.media-breakpoint-up(xl) {
    min-height: custom.$search-result-min-height * 0.8;
    padding-bottom: custom.$search-result-bottom-space * 0.8;

    .pc__img-wrapper {
      padding-top: custom.$search-result-img-height * 0.8;
    }
  }

  @include breakpoints.media-breakpoint-up(xxl) {
    min-height: custom.$search-result-min-height;
    padding-bottom: custom.$search-result-bottom-space;

    .pc__img-wrapper {
      padding-top: custom.$search-result-img-height;
    }
  }
}