@use "sass:map";
@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/mixins/table-variants";
@use "../bootstrap/variables" as variables;;
@use "../settings/variables" as custom;

//
// Basic Bootstrap table
//

.table {
  --#{variables.$variable-prefix}table-bg: #{variables.$table-bg};
  --#{variables.$variable-prefix}table-striped-color: #{custom.$table-striped-color};
  --#{variables.$variable-prefix}table-striped-bg: #{custom.$table-striped-bg};
  --#{variables.$variable-prefix}table-active-color: #{variables.$table-active-color};
  --#{variables.$variable-prefix}table-active-bg: #{variables.$table-active-bg};
  --#{variables.$variable-prefix}table-hover-color: #{variables.$table-hover-color};
  --#{variables.$variable-prefix}table-hover-bg: #{variables.$table-hover-bg};

  width: 100%;
  margin-bottom: variables.$spacer;
  color: variables.$table-color;
  line-height: 1.5;
  vertical-align: variables.$table-cell-vertical-align;
  border-color: custom.$table-border-color;

  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > tr > td,
  > :not(caption) > tr > th {
    background-image: linear-gradient(var(--#{variables.$variable-prefix}table-accent-bg), var(--#{variables.$variable-prefix}table-accent-bg));
    border-bottom-width: variables.$table-border-width;
  }

  > :not(caption) > tr > td {
    padding: custom.$table-cell-padding-y custom.$table-cell-padding-x;
    background-color: var(--#{variables.$variable-prefix}table-bg);
  }

  > :not(caption) > tr > th {
    padding: custom.$table-th-padding-top custom.$table-th-padding-x custom.$table-th-padding-bottom;
    background-color: custom.$table-th-bg-color;
    color: custom.$table-th-text-color;
    font-size: custom.$table-th-font-size;
    font-weight: custom.$table-th-font-weight;
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  // Highlight border color between thead, tbody and tfoot.
  > :not(:last-child) > tr:last-child > th,
  > :not(:last-child) > tr:last-child > td {
    border-bottom-color: variables.$table-group-separator-color;
  }
}


//
// Change placement of captions with a class
//

.caption-top {
  caption-side: top;
}


//
// Condensed table w/ half padding
//

.table-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > tr > th,
  > :not(caption) > tr > td {
    padding: variables.$table-cell-padding-y-sm variables.$table-cell-padding-x-sm;
  }
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefor we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

.table-bordered {
  > :not(caption) > tr {
    border-width: custom.$table-border-width 0;

    // stylelint-disable-next-line selector-max-universal
    > th,
    > td {
      border-width: 0 custom.$table-border-width;
    }
  }
}

.table-borderless {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > tr {
    border-bottom-width: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(#{custom.$table-striped-order}) {
    --#{variables.$variable-prefix}table-accent-bg: var(--#{variables.$variable-prefix}table-striped-bg);
    color: var(--#{variables.$variable-prefix}table-striped-color);
  }
}

// Active table
//
// The `.table-active` class can be added to highlight rows or cells

.table-active {
  --#{variables.$variable-prefix}table-accent-bg: var(--#{variables.$variable-prefix}table-active-bg);
  color: var(--#{variables.$variable-prefix}table-active-color);
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    --#{variables.$variable-prefix}table-accent-bg: var(--#{variables.$variable-prefix}table-hover-bg);
    color: var(--#{variables.$variable-prefix}table-hover-color);
  }
}


// Table variants
//
// Table variants set the table cell backgrounds, border colors
// and the colors of the striped, hovered & active tables

@each $color, $value in custom.$table-variants {
  @include table-variants.table-variant($color, $value);
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map.keys(variables.$grid-breakpoints) {
  $infix: breakpoints.breakpoint-infix($breakpoint, variables.$grid-breakpoints);

  @include breakpoints.media-breakpoint-down($breakpoint) {
    .table-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.table-primary {
  thead > tr > th {
    color: custom.$table-th-text-color;
    font-size: custom.$table-th-font-size;
    font-weight: custom.$table-th-font-weight;
  }
}
