@use "../bootstrap/functions";
@use "../bootstrap/mixins/border-radius";
@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/mixins/gradients";
@use "../bootstrap/mixins/transition";
@use "../bootstrap/variables" as variables;
@use "../bootstrap/vendor/rfs";
@use "../settings/variables" as custom;

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: custom.$nav-link-padding-top custom.$nav-link-padding-x custom.$nav-link-padding-bottom;
  color: custom.$nav-link-color;
  font-weight: custom.$nav-link-font-weight;
  line-height: custom.$nav-link-line-height;
  text-decoration: if(custom.$link-decoration ==none, null, none);
  outline: none;
  @include transition.transition(variables.$nav-link-transition);

  &:hover,
  &:focus {
    color: variables.$nav-link-hover-color;
    text-decoration: if(variables.$link-hover-decoration ==underline, none, null);
  }

  // Disabled state lightens text
  &.disabled {
    color: variables.$nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }

  @include breakpoints.media-breakpoint-up(lg) {
    @include rfs.font-size(custom.$nav-link-font-size);
  }
}

.nav-link_underscore {
  position: relative;
  padding: custom.$nav-link-padding-top custom.$nav-tabs-link-padding-x custom.$nav-link-padding-bottom;
  color: custom.$nav-tabs-link-color;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: custom.$nav-tabs-link-padding-x;
    width: 0;
    height: custom.$nav-tabs-border-width;
    background-color: custom.$nav-tabs-link-active-border;
    @include transition.transition(custom.$nav-link-underline-transition-l);
  }

  &.theme-color {
    &:after {
      background-color: var(--theme-color);
    }
  }

  &:hover,
  &:focus,
  &.active,
  .nav-item.show & {
    color: variables.$nav-tabs-link-active-color;

    &:after {
      width: functions.subtract(100%, custom.$nav-tabs-link-padding-x * 2);
    }
  }

  &.underscore-sm {

    &:hover,
    &:focus,
    &.active,
    .nav-item.show & {
      &:after {
        width: 2rem;
      }
    }
  }

  &.underscore-md {

    &:hover,
    &:focus,
    &.active,
    .nav-item.show & {
      &:after {
        width: calc((100% - #{custom.$nav-tabs-link-padding-x} * 2) * 0.7);
      }
    }
  }

  &.disabled {
    color: variables.$nav-link-disabled-color;
    background-color: transparent;
    border-color: transparent;
  }
}

// Pills

.nav-pills {
  .nav-link {
    @include border-radius.border-radius(custom.$nav-pills-border-radius);
  }

  .nav-link.active,
  .show>.nav-link {
    color: custom.$nav-pills-link-active-color;
    @include gradients.gradient-bg(custom.$nav-pills-link-active-bg);
  }
}

//
// Justified variants
//

.nav-fill {

  >.nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {

  >.nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  >.tab-pane {
    display: none;
  }

  >.active {
    display: block;
  }
}