$move-distance: 0.625rem;

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

.animate {
  transition: all ease-in 0.5s;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}

.animate_fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

// Animate right to left
.animate_rtl {
  position: relative;
  transform: translateX(2.5rem);
 transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
}

// Animate bottom to top
.animate_btt {
  position: relative;
  transform: translateY(2.5rem);
  transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
}

.animate_delay-1 {
  animation-delay: 1s;
}

.animate_delay-2 {
  animation-delay: 2s;
}

.animate_delay-3 {
  animation-delay: 3s;
}

.animate_delay-4 {
  animation-delay: 4s;
}

.animate_delay-5 {
  animation-delay: 5s;
}

.animate_delay-6 {
  animation-delay: 6s;
}

.animate_delay-7 {
  animation-delay: 7s;
}

.animate_delay-8 {
  animation-delay: 8s;
}

.animate_delay-9 {
  animation-delay: 9s;
}

.animate_delay-10 {
  animation-delay: 10s;
}

.swiper-slide-active {
  .animate_fade {
    opacity: 1;
    visibility: visible;
  }

  .animate_rtl {
    right: 0;
    transform: translateY(0);
    
  }

  .animate_btt {
    bottom: 0;
    transform: translateY(0);
  }
}

.anim_appear-fade {
  transition: $hover-content-appear-animation;
  font-size: $font-size-base;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  .product-card:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.anim_appear-bottom {
  bottom: $move-distance * -1;
  transition: $hover-content-appear-animation;
  font-size: $font-size-base;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  .product-card:hover & {
    bottom: $move-distance;
    opacity: 1;
    visibility: visible;
  }
}

.anim_appear-right {
  right: $move-distance * -1;
  transition: $hover-content-appear-animation;
  font-size: $font-size-base;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  .product-card:hover & {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

.anim_appear-center {
  top: 50%;
  transform: translateY(-50%);
  transition: $hover-content-appear-animation;
  font-size: $font-size-base;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  .product-card:hover & {
    opacity: 1;
    visibility: visible;
  }
}