@use './../mixins/mixins' as *;
@use './variables' as vars;
.flex-1 {
  flex: 1 !important;
}
.bg-yellow {
  background-color: #f3eddf !important;
}

.color-white {
  color: #fff !important;
}

.color-gray-5a5a5a {
  color: #5a5a5a !important;
}

.bottom-3 {
  bottom: 3rem !important;
}

.object-fit-cover {
  object-fit: cover;
}

.background-img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.hover__content,
.js-hidden-content {
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 16rem;
  transition: vars.$hover-content-appear-animation;
  background-color: vars.$body-bg;
  box-shadow: vars.$popover-box-shadow;
  opacity: 0;
  visibility: hidden;
  z-index: vars.$zindex-dropdown;
}

.hover-container {
  &:hover .hover__content,
  &.js-content_visible .js-hidden-content {
    opacity: 1;
    visibility: visible;
  }
}

.content_abs {
  position: absolute;
  --content-space: #{vars.$content-space};
}

.content_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content_top {
  top: var(--content-space);
  padding-bottom: var(--content-space);
}

.content_right {
  right: var(--content-space);
  padding-left: var(--content-space);
}

.content_bottom {
  bottom: var(--content-space);
  padding-top: var(--content-space);
}

.content_left {
  left: var(--content-space);
  padding-right: var(--content-space);
}


.content_bottom-lg {
  @include media-breakpoint-up(md) {
    --content-space: #{vars.$content-space-md};
  }
}

.content_left-lg {
  @include media-breakpoint-up(md) {
    --content-space: #{vars.$content-space-md};
  }
}
.h-md-100 {
  @include media-breakpoint-up(lg) {
    height: 100% !important;
  }
}

.sticky-content {
  position: sticky;
  top: 0;
  padding-bottom: 1px;
}

.border-circle {
  border-radius: 10rem !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.swiper-scrollbar {
  height: 4px;
}

.left-auto {
  left: auto !important;
}

.right-auto {
  right: auto !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}


.position-top-center {
  left: 50% !important;
  top: 0;
  transform: translateX(-50%) !important;
}


.left-50 {
  left: 50%;
  transform: translateX(-50%);
}

.row-cols-xl-8 {
  @include media-breakpoint-up(xl) {
    >* {
      flex: 0 0 auto;
      width: 12.5% !important;
    }
  }
}

.minh-100 {
  min-height: 100vh;
}

.minh-240 {
  min-height: 16rem;
}
.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.border-top-1 {
  border-top: 1px solid #eee;
}


.border-1 {
  border: 1px solid #eee !important;
}

.border-white {
  border-color: #fff !important;
}

.popover {
  border: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0;

  img {
    width: 170px;
  }
}

.bs-popover-end>.popover-arrow {
  margin: 0;

  &:before {
    border-color: transparent;
  }
}

.mb--1 {
  margin-bottom: -1px;
}

.mb-1px {
  margin-bottom: 1px;
}

.body-color {
  color: vars.$body-color !important;
}

.body-color-secondary {
  color: vars.$body-color-secondary !important;
}

.theme-color {
  color: var(--theme-color) !important;
}


.theme-bg-color {
  background-color: var(--theme-color) !important;
}

.theme-color-secondary {
  color: var(--theme-color-secondary) !important;
}

.theme-bg-color-secondary {
  background-color: var(--theme-color-secondary) !important;
}

.theme-color-third {
  color: var(--theme-color-third) !important;
}
.text-shadow-white {
  text-shadow: 0 0 0.3rem #fff;
}
.h-sm-100 {
  @include media-breakpoint-up(sm) {
    height: 100% !important;
  }
}

.transparent-bg {
  background-color: transparent !important;
}
@include media-breakpoint-up(lg) {
  .order-lg--1 {
    order: -1;
  }
}

@include media-breakpoint-up(lg) {
  .mt-lg--5 {
    margin-top: -13rem !important;
  }
}

.mt--3 {
  margin-top: -3rem !important;
}
