body {
  background-color: $body-bg;
}

.flex-1 {
  flex: 1 !important;
}

.bg-black {
  background-color: $primary !important;
}

.bg-yellow {
  background-color: #f3eddf !important;
}

.color-white {
  color: #fff !important;
}

.color-gray-5a5a5a {
  color: #5a5a5a !important;
}

.bottom-3 {
  bottom: 3rem !important;
}

.object-fit-cover {
  object-fit: cover;
}




.sticky-content {
  position: sticky;
  top: 0;
  padding-bottom: 1px;
}

.border-circle {
  border-radius: 10rem !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.swiper-scrollbar {
  height: 4px;
}

.left-auto {
  left: auto !important;
}

.right-auto {
  right: auto !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}


.position-top-center {
  left: 50% !important;
  top: 0;
  transform: translateX(-50%) !important;
}


.left-50 {
  left: 50%;
  transform: translateX(-50%);
}

.row-cols-xl-8 {
  @include media-breakpoint-up(xl) {
    >* {
      flex: 0 0 auto;
      width: 12.5% !important;
    }
  }
}

.minh-100 {
  min-height: 100vh;
}

.minh-240 {
  min-height: 16rem;
}
.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.border-top-1 {
  border-top: 1px solid #eee;
}


.border-1 {
  border: 1px solid #eee !important;
}

.border-white {
  border-color: #fff !important;
}

.popover {
  border: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0;

  img {
    width: 170px;
  }
}

.bs-popover-end>.popover-arrow {
  margin: 0;

  &:before {
    border-color: transparent;
  }
}

.mb--1 {
  margin-bottom: -1px;
}

.mb-1px {
  margin-bottom: 1px;
}

.body-color {
  color: $body-color !important;
}

.body-color-secondary {
  color: $body-color-secondary !important;
}

.theme-color {
  color: var(--theme-color) !important;
}


.theme-bg-color {
  background-color: var(--theme-color) !important;
}

.theme-color-secondary {
  color: var(--theme-color-secondary) !important;
}

.theme-bg-color-secondary {
  background-color: var(--theme-color-secondary) !important;
}

.theme-color-third {
  color: var(--theme-color-third) !important;
}
.text-shadow-white {
  text-shadow: 0 0 0.3rem #fff;
}
.h-sm-100 {
  @include media-breakpoint-up(sm) {
    height: 100% !important;
  }
}

.transparent-bg {
  background-color: transparent !important;
}
@media (min-width: 992px) {
  .order-lg--1 {
    order: -1;
  }
}

@media (min-width: 992px) {
  .mt-lg--5 {
    margin-top: -13rem !important;
  }
}

.mt--3 {
  margin-top: -3rem !important;
}
