:root {
  --theme-color: #c32929;

  --theme-color-secondary: #b9a16b;

  --theme-color-third: #86bc42;
  // --fontfamily-jost: "Jost", sans-serif;
  --fontfamily-poppins: "Poppins", sans-serif;
  --font-family-base: "Poppins", sans-serif;
  --font-special: "Allura", cursive;
}