@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.text_dash {
  position: relative;
  padding-left: 3.25rem;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2.5rem;
    height: 2px;
    margin-top: -1px;
    background-color: currentColor;
    color: inherit;
  }

  &_half {
    position: relative;
    padding-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1.25rem;
      height: 2px;
      margin-top: -1px;
      background-color: currentColor;
      color: inherit;
    }
  }
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-15 {
  font-size: 0.9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-18 {
  @include font-size(1.125rem !important);
}

.fs-20 {
  @include font-size(1.25rem);
}

.fs-22 {
  @include font-size(1.375rem);
}

.fs-25 {
  @include font-size(1.5625rem);
}

.fs-30 {
  @include font-size(1.875rem);
}

.fs-35 {
  @include font-size(2.1875rem);
}

.fs-40 {
  @include font-size(2.5rem);
}

.fs-45 {
  @include font-size(2.8125rem);
}

.fs-50 {
  @include font-size(3.125rem);
}

.fs-70 {
  @include font-size(4.375rem);
}

.fs-80 {
  @include font-size(5rem);
}

.fs-100 {
  @include font-size(6.25rem);
}

.fw-semi-bold {
  font-weight: 600 !important;
}

th[align="right"] {
  text-align: right;
}