@use './variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  color: vars.$color-gray-900;
  font-family: var(--font-family-base);
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-base;
  line-height: vars.$line-height-base;
}

/*============================================*/
/*================= Headings =================*/
/*============================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$heading-color;
  font-family: var(--fontfamily-poppins);
  font-weight: vars.$font-weight-heading;
}

.font-special {
  font-family: var(--font-special);
}

.fs-base,
.form-title {
  font-size: vars.$font-size-base !important;
}

.third-color {
  color: vars.$third !important;
}

.white-color {
  color: #fff !important;
}

.mark-grey-color {
  -webkit-text-stroke-color: #c2c2c2;
}

.page-title {
  font-weight: vars.$page-title-weight;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  // text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: vars.$page-title-size;
    margin-bottom: 3.125rem;
    // text-transform: uppercase;
  }
}

.section-title {
  font-size: vars.$section-title-mobile-size;

  @include media-breakpoint-up(lg) {
    font-size: vars.$section-title-size;
  }
}

.lh-30 {
  line-height: 1.875rem !important;
}

.lh-2rem {
  line-height: 2rem !important;
}

.block-title {
  margin-bottom: 1rem;
  font-size: vars.$block-title-size;
}

/*============================================*/
/*=================== Texts ==================*/
/*============================================*/

.content {
  margin-bottom: 1.5rem;
  font-size: vars.$content-size;
  line-height: vars.$content-line-height;
}

.text-list {
  padding-left: 1.25em;
}

.text-list__item {
  line-height: vars.$list-item-line-height;
}


.text_dash {
  position: relative;
  padding-left: 3.25rem;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2.5rem;
    height: 2px;
    margin-top: -1px;
    background-color: currentColor;
    color: inherit;
  }

  &_half {
    position: relative;
    padding-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1.25rem;
      height: 2px;
      margin-top: -1px;
      background-color: currentColor;
      color: inherit;
    }
  }
}

@include media-breakpoint-up(lg) {
  .text-lg-right {
    text-align: right !important;
  }
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-15 {
  font-size: 0.9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-18 {
  @include font-size(1.125rem !important);
}

.fs-20 {
  @include font-size(1.25rem);
}

.fs-22 {
  @include font-size(1.375rem);
}

.fs-25 {
  @include font-size(1.5625rem);
}

.fs-30 {
  @include font-size(1.875rem);
}

.fs-35 {
  @include font-size(2.1875rem);
}

.fs-40 {
  @include font-size(2.5rem);
}

.fs-45 {
  @include font-size(2.8125rem);
}

.fs-50 {
  @include font-size(3.125rem);
}

.fs-70 {
  @include font-size(4.375rem);
}

.fs-80 {
  @include font-size(5rem);
}

.fs-100 {
  @include font-size(6.25rem);
}

.fw-semi-bold {
  font-weight: 600 !important;
}

th[align="right"] {
  text-align: right;
}