@use "../../bootstrap/variables" as variables;
@use "../../settings/variables" as custom;

.footer-mobile {
  max-width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.225rem;
  z-index: variables.$zindex-dropdown;
  opacity: 0;
  bottom: -6.25rem;
  transition: all .32s;


  .cart-amount,
  .wishlist-amount {
    top: -5px;
    left: calc(100% - 5px);
    width: custom.$header-cart-amount-width;
    height: custom.$header-cart-amount-width;
    border-radius: 100%;
    background: custom.$header-cart-amount-bg;
    color: custom.$header-cart-amount-color;
    font-size: custom.$header-cart-amount-font-size;
    line-height: custom.$header-cart-amount-width;
    text-align: center;
  }

  &.position-fixed {
    opacity: 1;
  }

  &.footer-mobile_initialized {
    bottom: 0;
    transition: all .32s;
  }
}

.footer-mobile__link {
  font-size: 0.8125rem;
  i{
    font-size: 18px;
  }
}