.footer-top {
  .block-newsletter {
    max-width: 47rem;
    margin: 0 auto;
    text-align: center;
  }
}
.footer-middle {
  padding-top: 3.125rem;
  padding-bottom: 1.625rem;

  .logo {
    margin-bottom: 1.75rem;
  }

  @include media-breakpoint-up(md) {
    padding-top: $footer-middle-padding-top * 0.6;
    padding-bottom: $footer-middle-padding-bottom * 0.6;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $footer-middle-padding-top;
    padding-bottom: $footer-middle-padding-bottom;
  }
}

.footer-column {
  flex-grow: 1;
}

.footer-address {
  margin-bottom: $font-size-base;
}

.footer__social-link {
  color: $footer-social-link-color;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.footer-newsletter__form {
  min-height: 48px;
  input[type="email"]{
    height: 48px;
  }
  .btn-link {
    padding-right: $input-padding-x;
  }
}

.footer-bottom {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: $footer-bottom-border;
}

.footer {
  background-color: $footer-type-1-bg;
  color: $footer-type-1-color;
  min-height: 200px;

  .sub-menu__title {
    margin-bottom: 0.875rem;
    color: $footer-menu-title-color;

    @include media-breakpoint-up(lg) {
      margin-bottom: 1.875rem;
    }
  }

  .menu-link {
    margin-top: 3px;
    margin-bottom: 2px;
  }

  .social-links {
    gap: 10px;
  }

  .form-select {
    color: inherit;
    background-image: escape-svg($svg-arrow-up-bg);

    &:focus {
      box-shadow: none;
      border-color: transparent;
    }

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    &.color-white {
      background-image: escape-svg($svg-arrow-up-white-bg);

      option {
        color: $color-gray-900;
      }
    }
  }

  .service-promotion{
    .horizontal {
      border-bottom: 1px solid #cfcdcd;
    }
  }
}

.footer_type_1 {
  &.dark {
    background-color: $footer-type-2-dark-bg;
    color: $footer-type-2-dark-color;

    .sub-menu__title {
      color: $footer-menu-title-color;
    }

    .menu-link {
      color: $footer-type-2-dark-menu-link-color
    }

    .form-select {
      background-image: escape-svg($footer-type-2-dark-form-select-bg);
    }

    .footer-select__option {
      background-color: $footer-type-2-dark-bg;
    }

    .footer-bottom {
      border-color: $footer-type-2-dark-border-color;
    }

    .footer__social-link {
      &:hover {
        color: $footer-social-link-active-color;
      }
    }

    .service-promotion.horizontal {
      border-bottom-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.footer_type_2 {
  background-color: $footer-type-2-bg;
  color: $footer-type-2-color;

  .form-select {
    background-image: escape-svg($footer-type-2-form-select-bg);
  }

  .footer-select__option {
    background-color: $footer-type-2-bg;
  }

  .footer-bottom {
    border-color: $footer-type-2-border-color;
  }

  .sub-menu__title {
    color: $primary;
  }

  &.dark {
    background-color: $footer-type-2-dark-bg;
    color: $footer-type-2-dark-color;

    .sub-menu__title {
      color: $footer-menu-title-color;
    }

    .menu-link {
      color: $footer-type-2-dark-menu-link-color
    }

    .form-select {
      background-image: escape-svg($footer-type-2-dark-form-select-bg);
    }

    .footer-select__option {
      background-color: $footer-type-2-dark-bg;
    }

    .footer-bottom {
      border-color: $footer-type-2-dark-border-color;
    }

    .footer__social-link {
      &:hover {
        color: $footer-social-link-active-color;
      }
    }
  }

  &.bordered {
    border-top: 1px solid $footer-type-2-border-color;
  }
}

@include media-breakpoint-up(lg) {
  .footer-store-info {
    width: 24%;
  }

  .footer-menu {
    width: 17%;
  }

  .footer-newsletter {
    width: 25%;
  }
}
.footer-hyperlink {
  padding: 5px 15px 5px;
  .hyperlink-row {
    border-bottom: 1px solid #cfcdcd;
    margin: 7px 15px;
    padding: 0 0 5px 0;
    .hyperlink-title {
      font-size: 14px;
      color: $primary;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .hyper-links ul {
      list-style-type: none;
      padding: 0;
      letter-spacing: 1px;
      margin: 0;
      li {
        display: inline-block;
        font-size: 12px;
        color: $primary;
        white-space: nowrap;
        span{
          padding: 0 5px;
        }
        &:last-child{
          span{
            &:last-child{
              display: none;
            }
          }
        }
      }
    }
    &:last-child{
      border-bottom: none;
    }
  }
}