.product-single__thumbnail .swiper-slide {
  opacity: 0.5;
  cursor: pointer;
}

.product-single__thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
  cursor: pointer;
}

.item-zoom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  right: 1.875rem;
  bottom: 1.875rem;
  border-radius: 2rem;
  background-color: #fff;
  transition: all 0.3s ease;
}

.swiper-thumb-3 {
  .swiper-slide {
    @media (min-width: 500px) {
      width: fit-content !important;
    }
  }
}

.nav-link {
  cursor: pointer;
}
.fw-medium{
  font-weight: 500;
}

a, 
.btn-link {
  cursor: pointer;
  color: #222;
  text-decoration: none;
  &:hover {
    color: $dark
  }
}
.page-wrapper {
  min-height: 100vh;
  padding-top: 68px;

  @media (max-width: 1000px) {
    padding-top: 60px;
  }
}
.menu-active {
  // color: $color-red-700 !important;
  color: #656565 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.product-single__thumbnail .swiper-slide {
  height: fit-content !important;
}
.blog-title {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}
.full-width_padding {
  overflow: hidden;

  @include media-breakpoint-up(xxl) {
    width: 100%;
    padding: 0 $full-section-padding-x;
  }
}

.full-width_padding-20 {
  width: 100%;
  padding: 0 1.25rem;
  @include media-breakpoint-down(xxl) {
    padding: 0 15px;
  }
}

.full-width_border {
  @include media-breakpoint-down(xxl) {
    border: 0 !important;
  }

  @include media-breakpoint-up(xxl) {
    padding: 0.625rem;
    border-style: solid;
  }
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.32s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-color: rgba($color: $color-gray-900, $alpha: 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 1060;
  @include media-breakpoint-up(xl) {
    z-index: $zindex-modal-backdrop;
  }
}

.page-overlay_visible {
  opacity: 1;
  visibility: visible;
}

#scrollTop {
  position: fixed !important;
  right: 0;
  bottom: 3.375rem;
  z-index: $zindex-fixed;
  width: 45px;
  height: 45px;
  background-color: $scroll-top-bg;
  background-image: escape-svg($svg-arrow-up-bg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  clip: auto !important;
  transition: $menu-appear-animation;

  @include media-breakpoint-up(md) {
    bottom: 0;
  }
}

.mw-930 {
  width: 80rem !important;
  max-width: 100% !important;
  margin: 0 auto;
}
.mw-1000 {
  width: 58.125rem !important;
  max-width: 100% !important;
  margin: 0 auto;
}

.gutters-20 .row {
  --bs-gutter-x: 1.25rem;
}
.h-md-100 {
  @media (min-width: 992px) {
    height: 100% !important;
  }
}
.background-img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.hover__content,
.js-hidden-content {
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 16rem;
  transition: $hover-content-appear-animation;
  background-color: $body-bg;
  box-shadow: $popover-box-shadow;
  opacity: 0;
  visibility: hidden;
  z-index: $zindex-dropdown;
}

.hover-container {
  &:hover .hover__content,
  &.js-content_visible .js-hidden-content {
    opacity: 1;
    visibility: visible;
  }
}

.content_abs {
  position: absolute;
  --content-space: #{$content-space};
}

.content_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content_top {
  top: var(--content-space);
  padding-bottom: var(--content-space);
}

.content_right {
  right: var(--content-space);
  padding-left: var(--content-space);
}

.content_bottom {
  bottom: var(--content-space);
  padding-top: var(--content-space);
}

.content_left {
  left: var(--content-space);
  padding-right: var(--content-space);
}


.content_bottom-lg {
  @include media-breakpoint-up(md) {
    --content-space: #{$content-space-md};
  }
}

.content_left-lg {
  @include media-breakpoint-up(md) {
    --content-space: #{$content-space-md};
  }
}