// @font-face {
//     font-family: 'Jost';
//     src: local("Jost Regular"), 
//         url('../fonts/jost/Jost-Regular.woff2') format('woff2'),
//         url('../fonts/jost/Jost-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Jost';
//     src: local("Jost Medium"), 
//         url('../fonts/jost/Jost-Medium.woff2') format('woff2'),
//         url('../fonts/jost/Jost-Medium.woff') format('woff');   
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Jost';
//     src: local("Jost SemiBold"), 
//         url('../fonts/jost/Jost-SemiBold.woff2') format('woff2'),
//         url('../fonts/jost/Jost-SemiBold.woff') format('woff');
        
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Jost';
//      src: local("Jost Bold"), 
//         url('../fonts/jost/Jost-Bold.woff2') format('woff2'),
//         url('../fonts/jost/Jost-Bold.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }


