@use "mixins/mixins";

@use "settings/animations";
@use "layout/layout";

@use "components/close";
@use "components/accordions";
@use "components/tabs";
@use "components/checkbox";  
@use "components/tables";
// @use "components/alert";
@use "components/buttons";
// @use "components/forms";
@use "components/product-card";
@use "components/aside-popup";
@use "components/search-popup";
@use "components/cart-drawer";
@use "components/modals";
@use "components/effects";

@use "menu/menu";

@use "sections/Header/header";
@use "sections/Footer/footer";
@use "sections/Footer/footer-mobile-fixed";
@use "sections/Slideshow/slideshow";
@use "sections/CollectionsGrid/collections-grid";
@use "sections/ProductsGrid/products-grid";
@use "sections/DealTimer/deal-timer";
@use "sections/Instagram/instagram";
@use "sections/ServicePromotion/service-promotion";
@use "sections/ShopAccessories/shop-accessories";
@use "sections/ShopSidebar/shop-sidebar";
@use "sections/Newsletter/newsletter";
@use "sections/ProductSingle/product-single";
@use "sections/ShopCheckout/shop-checkout";
@use "sections/MyAccount/my-account";
@use "sections/Blog/blog";
@use "sections/About/about";
@use "sections/GoogleMap/google-map";
@use "sections/ContactUs/contact-us";
@use "sections/LoginRegister/login-register";

@use "./custom.scss";
@use "./icon.scss"